   html, body { 		font-family: : Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;

  }

  h1 {
    color: grey;
    font-size: 1.5em;
  }
  .container {
    height: 100%;
    position: relative;
  }
  #map {
    bottom:0px;
    height: 100%;
    left: 20px;
    position: absolute;
    right: 0px;

  }
  .options-box {
    background: black;
    border: 1px solid #999;
    border-radius: 4px;
    height: 100%;
    line-height: 30px;
    padding: 10px 10px 30px 10px;
    text-align: left;
    width: 280px;
    position: absolute;
    -webkit-transform: translate(-280px, 0);
    transform: translate(-280px, 0);
    transition: transform 0.3s ease;
    z-index: 5;
  }

  .options-box.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .find-btn{
    color:white;
    background-color: blue;
  }

  .p-list{
   font-size: 0.9em;
   color:white;
 }

 .hamburger{
  color: #fff;
  font-size: 30px;
  position: fixed;
  top:0;
  z-index: 5;
  right: 0;
  padding-right: 30px
}